USE [master]
GO
/****** Object:  Database [ResumeBuilderDb]    Script Date: 1/6/2023 12:37:12 AM ******/
CREATE DATABASE [ResumeBuilderDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ResumeBuilderDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ResumeBuilderDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ResumeBuilderDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ResumeBuilderDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ResumeBuilderDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ResumeBuilderDb]
GO
/****** Object:  Table [dbo].[Education]    Script Date: 1/6/2023 12:37:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Education](
	[id] [int] NOT NULL,
	[EducationTitle] [nchar](100) NOT NULL,
	[EducationDetail] [nchar](200) NULL,
	[EducationStart] [nchar](10) NULL,
	[EducationEnd] [nchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Job]    Script Date: 1/6/2023 12:37:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Job](
	[id] [int] NOT NULL,
	[JobTitle] [nchar](100) NOT NULL,
	[JobDetail] [nchar](200) NULL,
	[JobStart] [nchar](10) NOT NULL,
	[JobEnd] [nchar](10) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MoreDetails]    Script Date: 1/6/2023 12:37:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MoreDetails](
	[id] [int] NOT NULL,
	[Skill] [nchar](10) NULL,
	[Languages] [nchar](10) NULL,
	[Interests] [nchar](10) NULL,
	[Certifications] [nchar](10) NULL,
	[PersonalProjects] [nchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Person]    Script Date: 1/6/2023 12:37:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Person](
	[id] [int] NOT NULL,
	[Name] [nchar](50) NOT NULL,
	[Address] [nchar](200) NULL,
	[PhoneNumber] [nchar](12) NULL,
	[Email] [nchar](50) NULL,
	[Website] [nchar](50) NULL,
	[SocialMedia] [nchar](500) NULL,
	[Summary] [nchar](500) NULL,
	[description] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Person] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
