<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ResumeBuilder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ResumeBuilder.Properties.Settings>
            <setting name="Language" serializeAs="String">
                <value>en</value>
            </setting>
            <setting name="SavingFileOption" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="jobTitleLanguage" serializeAs="String">
                <value>JOB</value>
            </setting>
            <setting name="educationTitleLanguage" serializeAs="String">
                <value>EDUCATION</value>
            </setting>
            <setting name="certificationsTitleLanguage" serializeAs="String">
                <value>CERTIFICATES</value>
            </setting>
            <setting name="personalProjectsTitleLanguage" serializeAs="String">
                <value>PERSONAL PROJECTS</value>
            </setting>
            <setting name="languagesTitleLanguage" serializeAs="String">
                <value>LANGUAGES</value>
            </setting>
            <setting name="interestsTitleLanguage" serializeAs="String">
                <value>INTERESTS</value>
            </setting>
            <setting name="skillsTitleLanguage" serializeAs="String">
                <value>SKILLS</value>
            </setting>
            <setting name="titleFontSize" serializeAs="String">
                <value>13</value>
            </setting>
            <setting name="detailFontSize" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="pictureSize" serializeAs="String">
                <value>150</value>
            </setting>
        </ResumeBuilder.Properties.Settings>
    </userSettings>
</configuration>